# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Build outputs
client/dist/

# Environment variables
.env
server/.env

# MacOS files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite files
*.local
